.swiper {
    overflow: visible;

    &-pagination {
        right: 0;
        width: 100px !important;
        left: auto !important;
        bottom: -100px !important;
        overflow: visible;

        @media screen and (max-width:768px) {
            width: 100% !important;
        }

        &-bullet {
            width: 20px;
            height: 20px;
            background-color: rgb(250, 204, 21);
            opacity: 1;


            &-active {
                background-color: white;
            }
        }
    }
}

.slick-prev {
    right: 50%;

    left: auto;

    @media screen and (min-width:768px) {
        left: 0px;
        right: auto;
    }
}

.slick-next {

    left: 50%;

    @media screen and (min-width:768px) {
        left: auto;
        right: 0px;
    }
}

.slick-prev,
.slick-next {
    z-index: 10;

    width: 45px;
    top: 100%;

    @media screen and (min-width:768px) {
        height: 45px;
        top: 50%;
    }

    &::before {
        font-size: 45px;
        color: black;
        text-align: center;
        border-radius: 50%;
        // filter: invert(100%);

    }

    &:hover {

        &::before {
            transition: all;
            transition-duration: 300ms;
            color: rgb(250, 204, 21);
        }
    }
}